.container_space {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
  }
  
  .container {
    position: relative;
    display: grid;
    grid-template-rows: repeat(20, 5vh);
    grid-template-columns: repeat(20, 5vw);
    transform-style: preserve-3d;
  }
  
  .monitor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
  }
  
  .opening {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .camera {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 500ms;
  }
  
  .awing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: scale(1.5) rotateY(180deg) rotateX(90deg);
  }
  .awing .stars {
    position: absolute;
    transform-style: preserve-3d;
  }
  .awing .stars .star {
    position: absolute;
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.8);
    transform-style: preserve-3d;
  }
  .awing .stars .star:nth-child(1) {
    height: 56px;
    top: 270px;
    left: -450px;
    -webkit-animation: shootingStar1 795ms linear infinite, fadeInOut 795ms linear infinite;
            animation: shootingStar1 795ms linear infinite, fadeInOut 795ms linear infinite;
  }
  @-webkit-keyframes shootingStar1 {
    0% {
      transform: translateY(181px) translateZ(-103px);
    }
    100% {
      transform: translateY(-812px) translateZ(-103px);
    }
  }
  @keyframes shootingStar1 {
    0% {
      transform: translateY(181px) translateZ(-103px);
    }
    100% {
      transform: translateY(-812px) translateZ(-103px);
    }
  }
  .awing .stars .star:nth-child(2) {
    height: 53px;
    top: 345px;
    left: 246px;
    -webkit-animation: shootingStar2 1531ms linear infinite, fadeInOut 1531ms linear infinite;
            animation: shootingStar2 1531ms linear infinite, fadeInOut 1531ms linear infinite;
  }
  @-webkit-keyframes shootingStar2 {
    0% {
      transform: translateY(296px) translateZ(-115px);
    }
    100% {
      transform: translateY(-796px) translateZ(-115px);
    }
  }
  @keyframes shootingStar2 {
    0% {
      transform: translateY(296px) translateZ(-115px);
    }
    100% {
      transform: translateY(-796px) translateZ(-115px);
    }
  }
  .awing .stars .star:nth-child(3) {
    height: 67px;
    top: 351px;
    left: -401px;
    -webkit-animation: shootingStar3 1884ms linear infinite, fadeInOut 1884ms linear infinite;
            animation: shootingStar3 1884ms linear infinite, fadeInOut 1884ms linear infinite;
  }
  @-webkit-keyframes shootingStar3 {
    0% {
      transform: translateY(347px) translateZ(246px);
    }
    100% {
      transform: translateY(-720px) translateZ(246px);
    }
  }
  @keyframes shootingStar3 {
    0% {
      transform: translateY(347px) translateZ(246px);
    }
    100% {
      transform: translateY(-720px) translateZ(246px);
    }
  }
  .awing .stars .star:nth-child(4) {
    height: 37px;
    top: 259px;
    left: -83px;
    -webkit-animation: shootingStar4 938ms linear infinite, fadeInOut 938ms linear infinite;
            animation: shootingStar4 938ms linear infinite, fadeInOut 938ms linear infinite;
  }
  @-webkit-keyframes shootingStar4 {
    0% {
      transform: translateY(129px) translateZ(-162px);
    }
    100% {
      transform: translateY(-949px) translateZ(-162px);
    }
  }
  @keyframes shootingStar4 {
    0% {
      transform: translateY(129px) translateZ(-162px);
    }
    100% {
      transform: translateY(-949px) translateZ(-162px);
    }
  }
  .awing .stars .star:nth-child(5) {
    height: 65px;
    top: 93px;
    left: -149px;
    -webkit-animation: shootingStar5 1683ms linear infinite, fadeInOut 1683ms linear infinite;
            animation: shootingStar5 1683ms linear infinite, fadeInOut 1683ms linear infinite;
  }
  @-webkit-keyframes shootingStar5 {
    0% {
      transform: translateY(163px) translateZ(45px);
    }
    100% {
      transform: translateY(-745px) translateZ(45px);
    }
  }
  @keyframes shootingStar5 {
    0% {
      transform: translateY(163px) translateZ(45px);
    }
    100% {
      transform: translateY(-745px) translateZ(45px);
    }
  }
  .awing .stars .star:nth-child(6) {
    height: 48px;
    top: 179px;
    left: 225px;
    -webkit-animation: shootingStar6 617ms linear infinite, fadeInOut 617ms linear infinite;
            animation: shootingStar6 617ms linear infinite, fadeInOut 617ms linear infinite;
  }
  @-webkit-keyframes shootingStar6 {
    0% {
      transform: translateY(304px) translateZ(137px);
    }
    100% {
      transform: translateY(-745px) translateZ(137px);
    }
  }
  @keyframes shootingStar6 {
    0% {
      transform: translateY(304px) translateZ(137px);
    }
    100% {
      transform: translateY(-745px) translateZ(137px);
    }
  }
  .awing .stars .star:nth-child(7) {
    height: 45px;
    top: 297px;
    left: 153px;
    -webkit-animation: shootingStar7 1193ms linear infinite, fadeInOut 1193ms linear infinite;
            animation: shootingStar7 1193ms linear infinite, fadeInOut 1193ms linear infinite;
  }
  @-webkit-keyframes shootingStar7 {
    0% {
      transform: translateY(106px) translateZ(64px);
    }
    100% {
      transform: translateY(-760px) translateZ(64px);
    }
  }
  @keyframes shootingStar7 {
    0% {
      transform: translateY(106px) translateZ(64px);
    }
    100% {
      transform: translateY(-760px) translateZ(64px);
    }
  }
  .awing .stars .star:nth-child(8) {
    height: 70px;
    top: 244px;
    left: 270px;
    -webkit-animation: shootingStar8 1910ms linear infinite, fadeInOut 1910ms linear infinite;
            animation: shootingStar8 1910ms linear infinite, fadeInOut 1910ms linear infinite;
  }
  @-webkit-keyframes shootingStar8 {
    0% {
      transform: translateY(206px) translateZ(288px);
    }
    100% {
      transform: translateY(-834px) translateZ(288px);
    }
  }
  @keyframes shootingStar8 {
    0% {
      transform: translateY(206px) translateZ(288px);
    }
    100% {
      transform: translateY(-834px) translateZ(288px);
    }
  }
  .awing .stars .star:nth-child(9) {
    height: 63px;
    top: 404px;
    left: 77px;
    -webkit-animation: shootingStar9 1377ms linear infinite, fadeInOut 1377ms linear infinite;
            animation: shootingStar9 1377ms linear infinite, fadeInOut 1377ms linear infinite;
  }
  @-webkit-keyframes shootingStar9 {
    0% {
      transform: translateY(274px) translateZ(136px);
    }
    100% {
      transform: translateY(-914px) translateZ(136px);
    }
  }
  @keyframes shootingStar9 {
    0% {
      transform: translateY(274px) translateZ(136px);
    }
    100% {
      transform: translateY(-914px) translateZ(136px);
    }
  }
  .awing .stars .star:nth-child(10) {
    height: 39px;
    top: 65px;
    left: -42px;
    -webkit-animation: shootingStar10 512ms linear infinite, fadeInOut 512ms linear infinite;
            animation: shootingStar10 512ms linear infinite, fadeInOut 512ms linear infinite;
  }
  @-webkit-keyframes shootingStar10 {
    0% {
      transform: translateY(275px) translateZ(131px);
    }
    100% {
      transform: translateY(-720px) translateZ(131px);
    }
  }
  @keyframes shootingStar10 {
    0% {
      transform: translateY(275px) translateZ(131px);
    }
    100% {
      transform: translateY(-720px) translateZ(131px);
    }
  }
  .awing .stars .star:nth-child(11) {
    height: 38px;
    top: 312px;
    left: -39px;
    -webkit-animation: shootingStar11 1110ms linear infinite, fadeInOut 1110ms linear infinite;
            animation: shootingStar11 1110ms linear infinite, fadeInOut 1110ms linear infinite;
  }
  @-webkit-keyframes shootingStar11 {
    0% {
      transform: translateY(106px) translateZ(-37px);
    }
    100% {
      transform: translateY(-989px) translateZ(-37px);
    }
  }
  @keyframes shootingStar11 {
    0% {
      transform: translateY(106px) translateZ(-37px);
    }
    100% {
      transform: translateY(-989px) translateZ(-37px);
    }
  }
  .awing .stars .star:nth-child(12) {
    height: 43px;
    top: 438px;
    left: -320px;
    -webkit-animation: shootingStar12 1018ms linear infinite, fadeInOut 1018ms linear infinite;
            animation: shootingStar12 1018ms linear infinite, fadeInOut 1018ms linear infinite;
  }
  @-webkit-keyframes shootingStar12 {
    0% {
      transform: translateY(138px) translateZ(-154px);
    }
    100% {
      transform: translateY(-953px) translateZ(-154px);
    }
  }
  @keyframes shootingStar12 {
    0% {
      transform: translateY(138px) translateZ(-154px);
    }
    100% {
      transform: translateY(-953px) translateZ(-154px);
    }
  }
  .awing .stars .star:nth-child(13) {
    height: 34px;
    top: 211px;
    left: 15px;
    -webkit-animation: shootingStar13 1188ms linear infinite, fadeInOut 1188ms linear infinite;
            animation: shootingStar13 1188ms linear infinite, fadeInOut 1188ms linear infinite;
  }
  @-webkit-keyframes shootingStar13 {
    0% {
      transform: translateY(343px) translateZ(-131px);
    }
    100% {
      transform: translateY(-901px) translateZ(-131px);
    }
  }
  @keyframes shootingStar13 {
    0% {
      transform: translateY(343px) translateZ(-131px);
    }
    100% {
      transform: translateY(-901px) translateZ(-131px);
    }
  }
  .awing .stars .star:nth-child(14) {
    height: 23px;
    top: 258px;
    left: -409px;
    -webkit-animation: shootingStar14 931ms linear infinite, fadeInOut 931ms linear infinite;
            animation: shootingStar14 931ms linear infinite, fadeInOut 931ms linear infinite;
  }
  @-webkit-keyframes shootingStar14 {
    0% {
      transform: translateY(124px) translateZ(-43px);
    }
    100% {
      transform: translateY(-788px) translateZ(-43px);
    }
  }
  @keyframes shootingStar14 {
    0% {
      transform: translateY(124px) translateZ(-43px);
    }
    100% {
      transform: translateY(-788px) translateZ(-43px);
    }
  }
  .awing .stars .star:nth-child(15) {
    height: 29px;
    top: 196px;
    left: 167px;
    -webkit-animation: shootingStar15 1991ms linear infinite, fadeInOut 1991ms linear infinite;
            animation: shootingStar15 1991ms linear infinite, fadeInOut 1991ms linear infinite;
  }
  @-webkit-keyframes shootingStar15 {
    0% {
      transform: translateY(371px) translateZ(137px);
    }
    100% {
      transform: translateY(-823px) translateZ(137px);
    }
  }
  @keyframes shootingStar15 {
    0% {
      transform: translateY(371px) translateZ(137px);
    }
    100% {
      transform: translateY(-823px) translateZ(137px);
    }
  }
  .awing .stars .star:nth-child(16) {
    height: 56px;
    top: 54px;
    left: 262px;
    -webkit-animation: shootingStar16 623ms linear infinite, fadeInOut 623ms linear infinite;
            animation: shootingStar16 623ms linear infinite, fadeInOut 623ms linear infinite;
  }
  @-webkit-keyframes shootingStar16 {
    0% {
      transform: translateY(335px) translateZ(48px);
    }
    100% {
      transform: translateY(-934px) translateZ(48px);
    }
  }
  @keyframes shootingStar16 {
    0% {
      transform: translateY(335px) translateZ(48px);
    }
    100% {
      transform: translateY(-934px) translateZ(48px);
    }
  }
  .awing .stars .star:nth-child(17) {
    height: 36px;
    top: 112px;
    left: -287px;
    -webkit-animation: shootingStar17 1626ms linear infinite, fadeInOut 1626ms linear infinite;
            animation: shootingStar17 1626ms linear infinite, fadeInOut 1626ms linear infinite;
  }
  @-webkit-keyframes shootingStar17 {
    0% {
      transform: translateY(292px) translateZ(111px);
    }
    100% {
      transform: translateY(-881px) translateZ(111px);
    }
  }
  @keyframes shootingStar17 {
    0% {
      transform: translateY(292px) translateZ(111px);
    }
    100% {
      transform: translateY(-881px) translateZ(111px);
    }
  }
  .awing .stars .star:nth-child(18) {
    height: 63px;
    top: 166px;
    left: -300px;
    -webkit-animation: shootingStar18 1378ms linear infinite, fadeInOut 1378ms linear infinite;
            animation: shootingStar18 1378ms linear infinite, fadeInOut 1378ms linear infinite;
  }
  @-webkit-keyframes shootingStar18 {
    0% {
      transform: translateY(327px) translateZ(276px);
    }
    100% {
      transform: translateY(-895px) translateZ(276px);
    }
  }
  @keyframes shootingStar18 {
    0% {
      transform: translateY(327px) translateZ(276px);
    }
    100% {
      transform: translateY(-895px) translateZ(276px);
    }
  }
  .awing .stars .star:nth-child(19) {
    height: 34px;
    top: 17px;
    left: -3px;
    -webkit-animation: shootingStar19 1396ms linear infinite, fadeInOut 1396ms linear infinite;
            animation: shootingStar19 1396ms linear infinite, fadeInOut 1396ms linear infinite;
  }
  @-webkit-keyframes shootingStar19 {
    0% {
      transform: translateY(173px) translateZ(-155px);
    }
    100% {
      transform: translateY(-880px) translateZ(-155px);
    }
  }
  @keyframes shootingStar19 {
    0% {
      transform: translateY(173px) translateZ(-155px);
    }
    100% {
      transform: translateY(-880px) translateZ(-155px);
    }
  }
  .awing .stars .star:nth-child(20) {
    height: 67px;
    top: 105px;
    left: 126px;
    -webkit-animation: shootingStar20 1043ms linear infinite, fadeInOut 1043ms linear infinite;
            animation: shootingStar20 1043ms linear infinite, fadeInOut 1043ms linear infinite;
  }
  @-webkit-keyframes shootingStar20 {
    0% {
      transform: translateY(176px) translateZ(260px);
    }
    100% {
      transform: translateY(-943px) translateZ(260px);
    }
  }
  @keyframes shootingStar20 {
    0% {
      transform: translateY(176px) translateZ(260px);
    }
    100% {
      transform: translateY(-943px) translateZ(260px);
    }
  }
  .awing .stars .star:nth-child(21) {
    height: 31px;
    top: 497px;
    left: 6px;
    -webkit-animation: shootingStar21 1428ms linear infinite, fadeInOut 1428ms linear infinite;
            animation: shootingStar21 1428ms linear infinite, fadeInOut 1428ms linear infinite;
  }
  @-webkit-keyframes shootingStar21 {
    0% {
      transform: translateY(248px) translateZ(227px);
    }
    100% {
      transform: translateY(-794px) translateZ(227px);
    }
  }
  @keyframes shootingStar21 {
    0% {
      transform: translateY(248px) translateZ(227px);
    }
    100% {
      transform: translateY(-794px) translateZ(227px);
    }
  }
  .awing .stars .star:nth-child(22) {
    height: 51px;
    top: 491px;
    left: 143px;
    -webkit-animation: shootingStar22 1563ms linear infinite, fadeInOut 1563ms linear infinite;
            animation: shootingStar22 1563ms linear infinite, fadeInOut 1563ms linear infinite;
  }
  @-webkit-keyframes shootingStar22 {
    0% {
      transform: translateY(118px) translateZ(51px);
    }
    100% {
      transform: translateY(-766px) translateZ(51px);
    }
  }
  @keyframes shootingStar22 {
    0% {
      transform: translateY(118px) translateZ(51px);
    }
    100% {
      transform: translateY(-766px) translateZ(51px);
    }
  }
  .awing .stars .star:nth-child(23) {
    height: 50px;
    top: 481px;
    left: -204px;
    -webkit-animation: shootingStar23 638ms linear infinite, fadeInOut 638ms linear infinite;
            animation: shootingStar23 638ms linear infinite, fadeInOut 638ms linear infinite;
  }
  @-webkit-keyframes shootingStar23 {
    0% {
      transform: translateY(191px) translateZ(99px);
    }
    100% {
      transform: translateY(-855px) translateZ(99px);
    }
  }
  @keyframes shootingStar23 {
    0% {
      transform: translateY(191px) translateZ(99px);
    }
    100% {
      transform: translateY(-855px) translateZ(99px);
    }
  }
  .awing .stars .star:nth-child(24) {
    height: 32px;
    top: 249px;
    left: 349px;
    -webkit-animation: shootingStar24 1487ms linear infinite, fadeInOut 1487ms linear infinite;
            animation: shootingStar24 1487ms linear infinite, fadeInOut 1487ms linear infinite;
  }
  @-webkit-keyframes shootingStar24 {
    0% {
      transform: translateY(236px) translateZ(56px);
    }
    100% {
      transform: translateY(-767px) translateZ(56px);
    }
  }
  @keyframes shootingStar24 {
    0% {
      transform: translateY(236px) translateZ(56px);
    }
    100% {
      transform: translateY(-767px) translateZ(56px);
    }
  }
  .awing .stars .star:nth-child(25) {
    height: 70px;
    top: 226px;
    left: -279px;
    -webkit-animation: shootingStar25 1721ms linear infinite, fadeInOut 1721ms linear infinite;
            animation: shootingStar25 1721ms linear infinite, fadeInOut 1721ms linear infinite;
  }
  @-webkit-keyframes shootingStar25 {
    0% {
      transform: translateY(197px) translateZ(65px);
    }
    100% {
      transform: translateY(-945px) translateZ(65px);
    }
  }
  @keyframes shootingStar25 {
    0% {
      transform: translateY(197px) translateZ(65px);
    }
    100% {
      transform: translateY(-945px) translateZ(65px);
    }
  }
  .awing .stars .star:nth-child(26) {
    height: 31px;
    top: 137px;
    left: -176px;
    -webkit-animation: shootingStar26 635ms linear infinite, fadeInOut 635ms linear infinite;
            animation: shootingStar26 635ms linear infinite, fadeInOut 635ms linear infinite;
  }
  @-webkit-keyframes shootingStar26 {
    0% {
      transform: translateY(181px) translateZ(263px);
    }
    100% {
      transform: translateY(-821px) translateZ(263px);
    }
  }
  @keyframes shootingStar26 {
    0% {
      transform: translateY(181px) translateZ(263px);
    }
    100% {
      transform: translateY(-821px) translateZ(263px);
    }
  }
  .awing .stars .star:nth-child(27) {
    height: 39px;
    top: 243px;
    left: 169px;
    -webkit-animation: shootingStar27 1050ms linear infinite, fadeInOut 1050ms linear infinite;
            animation: shootingStar27 1050ms linear infinite, fadeInOut 1050ms linear infinite;
  }
  @-webkit-keyframes shootingStar27 {
    0% {
      transform: translateY(282px) translateZ(-66px);
    }
    100% {
      transform: translateY(-707px) translateZ(-66px);
    }
  }
  @keyframes shootingStar27 {
    0% {
      transform: translateY(282px) translateZ(-66px);
    }
    100% {
      transform: translateY(-707px) translateZ(-66px);
    }
  }
  .awing .stars .star:nth-child(28) {
    height: 32px;
    top: 91px;
    left: 452px;
    -webkit-animation: shootingStar28 1879ms linear infinite, fadeInOut 1879ms linear infinite;
            animation: shootingStar28 1879ms linear infinite, fadeInOut 1879ms linear infinite;
  }
  @-webkit-keyframes shootingStar28 {
    0% {
      transform: translateY(363px) translateZ(-71px);
    }
    100% {
      transform: translateY(-980px) translateZ(-71px);
    }
  }
  @keyframes shootingStar28 {
    0% {
      transform: translateY(363px) translateZ(-71px);
    }
    100% {
      transform: translateY(-980px) translateZ(-71px);
    }
  }
  .awing .stars .star:nth-child(29) {
    height: 61px;
    top: 380px;
    left: -142px;
    -webkit-animation: shootingStar29 1490ms linear infinite, fadeInOut 1490ms linear infinite;
            animation: shootingStar29 1490ms linear infinite, fadeInOut 1490ms linear infinite;
  }
  @-webkit-keyframes shootingStar29 {
    0% {
      transform: translateY(312px) translateZ(-171px);
    }
    100% {
      transform: translateY(-993px) translateZ(-171px);
    }
  }
  @keyframes shootingStar29 {
    0% {
      transform: translateY(312px) translateZ(-171px);
    }
    100% {
      transform: translateY(-993px) translateZ(-171px);
    }
  }
  .awing .stars .star:nth-child(30) {
    height: 23px;
    top: 258px;
    left: -101px;
    -webkit-animation: shootingStar30 918ms linear infinite, fadeInOut 918ms linear infinite;
            animation: shootingStar30 918ms linear infinite, fadeInOut 918ms linear infinite;
  }
  @-webkit-keyframes shootingStar30 {
    0% {
      transform: translateY(378px) translateZ(298px);
    }
    100% {
      transform: translateY(-797px) translateZ(298px);
    }
  }
  @keyframes shootingStar30 {
    0% {
      transform: translateY(378px) translateZ(298px);
    }
    100% {
      transform: translateY(-797px) translateZ(298px);
    }
  }
  .awing .stars .star:nth-child(31) {
    height: 69px;
    top: 414px;
    left: 284px;
    -webkit-animation: shootingStar31 768ms linear infinite, fadeInOut 768ms linear infinite;
            animation: shootingStar31 768ms linear infinite, fadeInOut 768ms linear infinite;
  }
  @-webkit-keyframes shootingStar31 {
    0% {
      transform: translateY(244px) translateZ(248px);
    }
    100% {
      transform: translateY(-783px) translateZ(248px);
    }
  }
  @keyframes shootingStar31 {
    0% {
      transform: translateY(244px) translateZ(248px);
    }
    100% {
      transform: translateY(-783px) translateZ(248px);
    }
  }
  .awing .stars .star:nth-child(32) {
    height: 51px;
    top: 301px;
    left: 203px;
    -webkit-animation: shootingStar32 1594ms linear infinite, fadeInOut 1594ms linear infinite;
            animation: shootingStar32 1594ms linear infinite, fadeInOut 1594ms linear infinite;
  }
  @-webkit-keyframes shootingStar32 {
    0% {
      transform: translateY(133px) translateZ(-192px);
    }
    100% {
      transform: translateY(-875px) translateZ(-192px);
    }
  }
  @keyframes shootingStar32 {
    0% {
      transform: translateY(133px) translateZ(-192px);
    }
    100% {
      transform: translateY(-875px) translateZ(-192px);
    }
  }
  .awing .stars .star:nth-child(33) {
    height: 49px;
    top: 197px;
    left: 126px;
    -webkit-animation: shootingStar33 806ms linear infinite, fadeInOut 806ms linear infinite;
            animation: shootingStar33 806ms linear infinite, fadeInOut 806ms linear infinite;
  }
  @-webkit-keyframes shootingStar33 {
    0% {
      transform: translateY(128px) translateZ(-26px);
    }
    100% {
      transform: translateY(-719px) translateZ(-26px);
    }
  }
  @keyframes shootingStar33 {
    0% {
      transform: translateY(128px) translateZ(-26px);
    }
    100% {
      transform: translateY(-719px) translateZ(-26px);
    }
  }
  .awing .stars .star:nth-child(34) {
    height: 22px;
    top: 419px;
    left: -140px;
    -webkit-animation: shootingStar34 613ms linear infinite, fadeInOut 613ms linear infinite;
            animation: shootingStar34 613ms linear infinite, fadeInOut 613ms linear infinite;
  }
  @-webkit-keyframes shootingStar34 {
    0% {
      transform: translateY(244px) translateZ(-127px);
    }
    100% {
      transform: translateY(-731px) translateZ(-127px);
    }
  }
  @keyframes shootingStar34 {
    0% {
      transform: translateY(244px) translateZ(-127px);
    }
    100% {
      transform: translateY(-731px) translateZ(-127px);
    }
  }
  .awing .stars .star:nth-child(35) {
    height: 53px;
    top: 465px;
    left: 13px;
    -webkit-animation: shootingStar35 1253ms linear infinite, fadeInOut 1253ms linear infinite;
            animation: shootingStar35 1253ms linear infinite, fadeInOut 1253ms linear infinite;
  }
  @-webkit-keyframes shootingStar35 {
    0% {
      transform: translateY(221px) translateZ(124px);
    }
    100% {
      transform: translateY(-991px) translateZ(124px);
    }
  }
  @keyframes shootingStar35 {
    0% {
      transform: translateY(221px) translateZ(124px);
    }
    100% {
      transform: translateY(-991px) translateZ(124px);
    }
  }
  .awing .stars .star:nth-child(36) {
    height: 53px;
    top: 136px;
    left: 80px;
    -webkit-animation: shootingStar36 1290ms linear infinite, fadeInOut 1290ms linear infinite;
            animation: shootingStar36 1290ms linear infinite, fadeInOut 1290ms linear infinite;
  }
  @-webkit-keyframes shootingStar36 {
    0% {
      transform: translateY(123px) translateZ(191px);
    }
    100% {
      transform: translateY(-717px) translateZ(191px);
    }
  }
  @keyframes shootingStar36 {
    0% {
      transform: translateY(123px) translateZ(191px);
    }
    100% {
      transform: translateY(-717px) translateZ(191px);
    }
  }
  .awing .stars .star:nth-child(37) {
    height: 52px;
    top: 9px;
    left: -358px;
    -webkit-animation: shootingStar37 1615ms linear infinite, fadeInOut 1615ms linear infinite;
            animation: shootingStar37 1615ms linear infinite, fadeInOut 1615ms linear infinite;
  }
  @-webkit-keyframes shootingStar37 {
    0% {
      transform: translateY(286px) translateZ(-75px);
    }
    100% {
      transform: translateY(-946px) translateZ(-75px);
    }
  }
  @keyframes shootingStar37 {
    0% {
      transform: translateY(286px) translateZ(-75px);
    }
    100% {
      transform: translateY(-946px) translateZ(-75px);
    }
  }
  .awing .stars .star:nth-child(38) {
    height: 59px;
    top: 102px;
    left: 468px;
    -webkit-animation: shootingStar38 702ms linear infinite, fadeInOut 702ms linear infinite;
            animation: shootingStar38 702ms linear infinite, fadeInOut 702ms linear infinite;
  }
  @-webkit-keyframes shootingStar38 {
    0% {
      transform: translateY(215px) translateZ(-122px);
    }
    100% {
      transform: translateY(-901px) translateZ(-122px);
    }
  }
  @keyframes shootingStar38 {
    0% {
      transform: translateY(215px) translateZ(-122px);
    }
    100% {
      transform: translateY(-901px) translateZ(-122px);
    }
  }
  .awing .stars .star:nth-child(39) {
    height: 61px;
    top: 79px;
    left: 8px;
    -webkit-animation: shootingStar39 1284ms linear infinite, fadeInOut 1284ms linear infinite;
            animation: shootingStar39 1284ms linear infinite, fadeInOut 1284ms linear infinite;
  }
  @-webkit-keyframes shootingStar39 {
    0% {
      transform: translateY(211px) translateZ(-153px);
    }
    100% {
      transform: translateY(-847px) translateZ(-153px);
    }
  }
  @keyframes shootingStar39 {
    0% {
      transform: translateY(211px) translateZ(-153px);
    }
    100% {
      transform: translateY(-847px) translateZ(-153px);
    }
  }
  .awing .stars .star:nth-child(40) {
    height: 60px;
    top: 167px;
    left: -339px;
    -webkit-animation: shootingStar40 1158ms linear infinite, fadeInOut 1158ms linear infinite;
            animation: shootingStar40 1158ms linear infinite, fadeInOut 1158ms linear infinite;
  }
  @-webkit-keyframes shootingStar40 {
    0% {
      transform: translateY(101px) translateZ(-190px);
    }
    100% {
      transform: translateY(-865px) translateZ(-190px);
    }
  }
  @keyframes shootingStar40 {
    0% {
      transform: translateY(101px) translateZ(-190px);
    }
    100% {
      transform: translateY(-865px) translateZ(-190px);
    }
  }
  .awing .fly.o-x {
    transform-style: preserve-3d;
    transition: 500ms;
  }
  .awing .fly.o-y {
    transform-style: preserve-3d;
    transition: 500ms;
    -webkit-animation: flyY 19651ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
            animation: flyY 19651ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite;
  }
  .awing .fly.o-z {
    transform-style: preserve-3d;
    transition: 500ms;
  }
  .awing .body {
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0px;
    transition: 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .awing .free_bounce {
    transform-style: preserve-3d;
    -webkit-animation: freeBounce 3000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) alternate infinite;
            animation: freeBounce 3000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) alternate infinite;
  }
  .awing .free_rotate {
    transform-style: preserve-3d;
    -webkit-animation: freeRotate 2000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) alternate infinite;
            animation: freeRotate 2000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) alternate infinite;
  }
  .awing .cockpit {
    display: flex;
    transform-style: preserve-3d;
    transform: rotateX(-12deg);
  }
  .awing .cockpit .left {
    width: 30px;
    height: 150px;
    background: linear-gradient(0deg, white 0%, #cccccc 100%);
    -webkit-clip-path: polygon(100% 0%, 0% 25%, 100% 100%);
            clip-path: polygon(100% 0%, 0% 25%, 100% 100%);
    transform-origin: 100% 0;
    transform: rotateY(-45deg);
  }
  .awing .cockpit .right {
    width: 30px;
    height: 150px;
    background: linear-gradient(0deg, #aaaaaa 0%, #888888 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 25%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 25%, 0% 100%);
    transform-origin: 0 0;
    transform: rotateY(45deg);
  }
  .awing .cockpit .under {
    position: absolute;
    width: 60px;
    height: 150px;
    background: linear-gradient(0deg, #666666 0%, #333333 100%);
    -webkit-clip-path: polygon(14.5% 23.5%, 85.5% 23.5%, 50% 100%);
            clip-path: polygon(14.5% 23.5%, 85.5% 23.5%, 50% 100%);
    transform-origin: 50% 100%;
    transform: rotateX(10.7deg) rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .awing .cockpit .back {
    position: absolute;
    width: 60px;
    height: 150px;
    background: radial-gradient(ellipse at center, #2ca4f4 0%, #0d25bf 67%);
    -webkit-clip-path: polygon(14.5% 25%, 85.5% 25%, 50% 6%);
            clip-path: polygon(14.5% 25%, 85.5% 25%, 50% 6%);
    transform-origin: 50% 25%;
    transform: translateZ(-21.5px) rotateX(-45deg) rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .awing .cockpit .edge_left {
    position: absolute;
    width: 80px;
    height: 40px;
    background: #fff;
    background: linear-gradient(0deg, white 0%, #aaaaaa 100%);
    -webkit-clip-path: polygon(0% 0%, 80% 15%, 100% 100%);
            clip-path: polygon(0% 0%, 80% 15%, 100% 100%);
    transform-origin: 100% 100%;
    transform: translateX(-70px) translateZ(-20px) rotateY(-20deg) rotateX(20deg);
  }
  .awing .cockpit .edge_right {
    position: absolute;
    width: 80px;
    height: 40px;
    background: linear-gradient(0deg, #aaaaaa 0%, #888888 100%);
    -webkit-clip-path: polygon(100% 0%, 20% 15%, 0% 100%);
            clip-path: polygon(100% 0%, 20% 15%, 0% 100%);
    transform-origin: 0 100%;
    transform: translateX(50px) translateZ(-20px) rotateY(20deg) rotateX(20deg);
  }
  .awing .wing_left {
    position: absolute;
    top: 0;
    display: flex;
    transform-style: preserve-3d;
    transform-origin: 50% 30%;
    transform: rotateX(-30deg) translate(-20px, 8px) scaleY(1.2);
  }
  .awing .wing_left .left {
    width: 20px;
    height: 120px;
    background: linear-gradient(0deg, #748eed 0%, #3554ce 100%);
    -webkit-clip-path: polygon(100% 5.5%, 0% 25%, 100% 100%);
            clip-path: polygon(100% 5.5%, 0% 25%, 100% 100%);
    transform-origin: 100% 0;
    transform: rotateY(-60deg);
  }
  .awing .wing_left .right {
    width: 20px;
    height: 120px;
    background: linear-gradient(0deg, #3f55ba 0%, #2f49b5 100%);
    -webkit-clip-path: polygon(0% 5.5%, 100% 25%, 0% 100%);
            clip-path: polygon(0% 5.5%, 100% 25%, 0% 100%);
    transform-origin: 0 0;
    transform: rotateY(60deg);
  }
  .awing .wing_left .under {
    position: absolute;
    width: 40px;
    height: 120px;
    background: #2a3567;
    -webkit-clip-path: polygon(25% 23.5%, 75% 23.5%, 50% 100%);
            clip-path: polygon(25% 23.5%, 75% 23.5%, 50% 100%);
    transform-origin: 50% 100%;
    transform: rotateX(11deg) translateZ(-1px) rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .awing .wing_left .back {
    position: absolute;
    width: 40px;
    height: 120px;
    background: #2a3b89;
    -webkit-clip-path: polygon(25% 25%, 75% 25%, 50% 0%);
            clip-path: polygon(25% 25%, 75% 25%, 50% 0%);
    transform-origin: 50% 25%;
    transform: translateZ(-18px) rotateX(-39deg) rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .awing .wing_right {
    position: absolute;
    top: 0;
    display: flex;
    transform-style: preserve-3d;
    transform-origin: 50% 30%;
    transform: rotateX(-30deg) translate(40px, 8px) scaleY(1.2);
  }
  .awing .wing_right .left {
    width: 20px;
    height: 120px;
    background: linear-gradient(0deg, #748eed 0%, #3554ce 100%);
    -webkit-clip-path: polygon(100% 5.5%, 0% 25%, 100% 100%);
            clip-path: polygon(100% 5.5%, 0% 25%, 100% 100%);
    transform-origin: 100% 0;
    transform: rotateY(-60deg);
  }
  .awing .wing_right .right {
    width: 20px;
    height: 120px;
    background: linear-gradient(0deg, #3f55ba 0%, #2f49b5 100%);
    -webkit-clip-path: polygon(0% 5.5%, 100% 25%, 0% 100%);
            clip-path: polygon(0% 5.5%, 100% 25%, 0% 100%);
    transform-origin: 0 0;
    transform: rotateY(60deg);
  }
  .awing .wing_right .under {
    position: absolute;
    width: 40px;
    height: 120px;
    background: #2a3567;
    -webkit-clip-path: polygon(25% 23.5%, 75% 23.5%, 50% 100%);
            clip-path: polygon(25% 23.5%, 75% 23.5%, 50% 100%);
    transform-origin: 50% 100%;
    transform: rotateX(11deg) rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .awing .wing_right .back {
    position: absolute;
    width: 40px;
    height: 120px;
    background: #2a3b89;
    -webkit-clip-path: polygon(25% 25%, 75% 25%, 50% 0%);
            clip-path: polygon(25% 25%, 75% 25%, 50% 0%);
    transform-origin: 50% 25%;
    transform: translateZ(-18px) rotateX(-39deg) rotateY(180deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .awing .boosts {
    position: absolute;
    left: 50%;
    transform-style: preserve-3d;
    transform-origin: 50% 0;
    transform: rotateX(12deg);
  }
  .awing .boost {
    position: absolute;
    width: 10px;
    height: 50px;
    margin-left: -5px;
    background: #00aaff;
  }
  .awing .boost:nth-child(1) {
    height: 58px;
    -webkit-animation: boost1 1576ms linear infinite;
            animation: boost1 1576ms linear infinite;
  }
  @-webkit-keyframes boost1 {
    0% {
      transform: translateZ(-24px) translateY(-40px) translateX(0px) rotateY(104deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-11px) translateY(-300px) translateX(-7px) rotateY(104deg);
      opacity: 0;
    }
  }
  @keyframes boost1 {
    0% {
      transform: translateZ(-24px) translateY(-40px) translateX(0px) rotateY(104deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-11px) translateY(-300px) translateX(-7px) rotateY(104deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(2) {
    height: 60px;
    -webkit-animation: boost2 1610ms linear infinite;
            animation: boost2 1610ms linear infinite;
  }
  @-webkit-keyframes boost2 {
    0% {
      transform: translateZ(-16px) translateY(-53px) translateX(-13px) rotateY(314deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-18px) translateY(-300px) translateX(22px) rotateY(314deg);
      opacity: 0;
    }
  }
  @keyframes boost2 {
    0% {
      transform: translateZ(-16px) translateY(-53px) translateX(-13px) rotateY(314deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-18px) translateY(-300px) translateX(22px) rotateY(314deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(3) {
    height: 52px;
    -webkit-animation: boost3 896ms linear infinite;
            animation: boost3 896ms linear infinite;
  }
  @-webkit-keyframes boost3 {
    0% {
      transform: translateZ(-17px) translateY(-48px) translateX(-5px) rotateY(309deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-1px) translateY(-300px) translateX(39px) rotateY(309deg);
      opacity: 0;
    }
  }
  @keyframes boost3 {
    0% {
      transform: translateZ(-17px) translateY(-48px) translateX(-5px) rotateY(309deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-1px) translateY(-300px) translateX(39px) rotateY(309deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(4) {
    height: 55px;
    -webkit-animation: boost4 864ms linear infinite;
            animation: boost4 864ms linear infinite;
  }
  @-webkit-keyframes boost4 {
    0% {
      transform: translateZ(-12px) translateY(-53px) translateX(-5px) rotateY(22deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-4px) translateY(-300px) translateX(33px) rotateY(22deg);
      opacity: 0;
    }
  }
  @keyframes boost4 {
    0% {
      transform: translateZ(-12px) translateY(-53px) translateX(-5px) rotateY(22deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-4px) translateY(-300px) translateX(33px) rotateY(22deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(5) {
    height: 72px;
    -webkit-animation: boost5 1726ms linear infinite;
            animation: boost5 1726ms linear infinite;
  }
  @-webkit-keyframes boost5 {
    0% {
      transform: translateZ(-29px) translateY(-55px) translateX(7px) rotateY(356deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(39px) rotateY(356deg);
      opacity: 0;
    }
  }
  @keyframes boost5 {
    0% {
      transform: translateZ(-29px) translateY(-55px) translateX(7px) rotateY(356deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(39px) rotateY(356deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(6) {
    height: 58px;
    -webkit-animation: boost6 1286ms linear infinite;
            animation: boost6 1286ms linear infinite;
  }
  @-webkit-keyframes boost6 {
    0% {
      transform: translateZ(-30px) translateY(-56px) translateX(-6px) rotateY(22deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-14px) translateY(-300px) translateX(14px) rotateY(22deg);
      opacity: 0;
    }
  }
  @keyframes boost6 {
    0% {
      transform: translateZ(-30px) translateY(-56px) translateX(-6px) rotateY(22deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-14px) translateY(-300px) translateX(14px) rotateY(22deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(7) {
    height: 77px;
    -webkit-animation: boost7 1885ms linear infinite;
            animation: boost7 1885ms linear infinite;
  }
  @-webkit-keyframes boost7 {
    0% {
      transform: translateZ(-18px) translateY(-45px) translateX(2px) rotateY(95deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-4px) translateY(-300px) translateX(39px) rotateY(95deg);
      opacity: 0;
    }
  }
  @keyframes boost7 {
    0% {
      transform: translateZ(-18px) translateY(-45px) translateX(2px) rotateY(95deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-4px) translateY(-300px) translateX(39px) rotateY(95deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(8) {
    height: 46px;
    -webkit-animation: boost8 972ms linear infinite;
            animation: boost8 972ms linear infinite;
  }
  @-webkit-keyframes boost8 {
    0% {
      transform: translateZ(-21px) translateY(-47px) translateX(-12px) rotateY(77deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-8px) translateY(-300px) translateX(-32px) rotateY(77deg);
      opacity: 0;
    }
  }
  @keyframes boost8 {
    0% {
      transform: translateZ(-21px) translateY(-47px) translateX(-12px) rotateY(77deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-8px) translateY(-300px) translateX(-32px) rotateY(77deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(9) {
    height: 64px;
    -webkit-animation: boost9 623ms linear infinite;
            animation: boost9 623ms linear infinite;
  }
  @-webkit-keyframes boost9 {
    0% {
      transform: translateZ(-19px) translateY(-48px) translateX(5px) rotateY(344deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-16px) translateY(-300px) translateX(-26px) rotateY(344deg);
      opacity: 0;
    }
  }
  @keyframes boost9 {
    0% {
      transform: translateZ(-19px) translateY(-48px) translateX(5px) rotateY(344deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-16px) translateY(-300px) translateX(-26px) rotateY(344deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(10) {
    height: 45px;
    -webkit-animation: boost10 1812ms linear infinite;
            animation: boost10 1812ms linear infinite;
  }
  @-webkit-keyframes boost10 {
    0% {
      transform: translateZ(-26px) translateY(-47px) translateX(-12px) rotateY(211deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-12px) translateY(-300px) translateX(-2px) rotateY(211deg);
      opacity: 0;
    }
  }
  @keyframes boost10 {
    0% {
      transform: translateZ(-26px) translateY(-47px) translateX(-12px) rotateY(211deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-12px) translateY(-300px) translateX(-2px) rotateY(211deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(11) {
    height: 76px;
    -webkit-animation: boost11 1410ms linear infinite;
            animation: boost11 1410ms linear infinite;
  }
  @-webkit-keyframes boost11 {
    0% {
      transform: translateZ(-11px) translateY(-53px) translateX(-11px) rotateY(176deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-3px) translateY(-300px) translateX(-4px) rotateY(176deg);
      opacity: 0;
    }
  }
  @keyframes boost11 {
    0% {
      transform: translateZ(-11px) translateY(-53px) translateX(-11px) rotateY(176deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-3px) translateY(-300px) translateX(-4px) rotateY(176deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(12) {
    height: 58px;
    -webkit-animation: boost12 952ms linear infinite;
            animation: boost12 952ms linear infinite;
  }
  @-webkit-keyframes boost12 {
    0% {
      transform: translateZ(-29px) translateY(-48px) translateX(-9px) rotateY(73deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-9px) translateY(-300px) translateX(-13px) rotateY(73deg);
      opacity: 0;
    }
  }
  @keyframes boost12 {
    0% {
      transform: translateZ(-29px) translateY(-48px) translateX(-9px) rotateY(73deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-9px) translateY(-300px) translateX(-13px) rotateY(73deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(13) {
    height: 63px;
    -webkit-animation: boost13 1582ms linear infinite;
            animation: boost13 1582ms linear infinite;
  }
  @-webkit-keyframes boost13 {
    0% {
      transform: translateZ(-26px) translateY(-44px) translateX(-9px) rotateY(225deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-10px) translateY(-300px) translateX(-8px) rotateY(225deg);
      opacity: 0;
    }
  }
  @keyframes boost13 {
    0% {
      transform: translateZ(-26px) translateY(-44px) translateX(-9px) rotateY(225deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-10px) translateY(-300px) translateX(-8px) rotateY(225deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(14) {
    height: 72px;
    -webkit-animation: boost14 1341ms linear infinite;
            animation: boost14 1341ms linear infinite;
  }
  @-webkit-keyframes boost14 {
    0% {
      transform: translateZ(-11px) translateY(-40px) translateX(-13px) rotateY(197deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-3px) translateY(-300px) translateX(-31px) rotateY(197deg);
      opacity: 0;
    }
  }
  @keyframes boost14 {
    0% {
      transform: translateZ(-11px) translateY(-40px) translateX(-13px) rotateY(197deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-3px) translateY(-300px) translateX(-31px) rotateY(197deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(15) {
    height: 52px;
    -webkit-animation: boost15 1839ms linear infinite;
            animation: boost15 1839ms linear infinite;
  }
  @-webkit-keyframes boost15 {
    0% {
      transform: translateZ(-23px) translateY(-59px) translateX(6px) rotateY(77deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-19px) translateY(-300px) translateX(-29px) rotateY(77deg);
      opacity: 0;
    }
  }
  @keyframes boost15 {
    0% {
      transform: translateZ(-23px) translateY(-59px) translateX(6px) rotateY(77deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-19px) translateY(-300px) translateX(-29px) rotateY(77deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(16) {
    height: 64px;
    -webkit-animation: boost16 566ms linear infinite;
            animation: boost16 566ms linear infinite;
  }
  @-webkit-keyframes boost16 {
    0% {
      transform: translateZ(-29px) translateY(-49px) translateX(14px) rotateY(93deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-4px) translateY(-300px) translateX(4px) rotateY(93deg);
      opacity: 0;
    }
  }
  @keyframes boost16 {
    0% {
      transform: translateZ(-29px) translateY(-49px) translateX(14px) rotateY(93deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-4px) translateY(-300px) translateX(4px) rotateY(93deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(17) {
    height: 76px;
    -webkit-animation: boost17 1853ms linear infinite;
            animation: boost17 1853ms linear infinite;
  }
  @-webkit-keyframes boost17 {
    0% {
      transform: translateZ(-26px) translateY(-53px) translateX(-14px) rotateY(262deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-17px) translateY(-300px) translateX(-10px) rotateY(262deg);
      opacity: 0;
    }
  }
  @keyframes boost17 {
    0% {
      transform: translateZ(-26px) translateY(-53px) translateX(-14px) rotateY(262deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-17px) translateY(-300px) translateX(-10px) rotateY(262deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(18) {
    height: 69px;
    -webkit-animation: boost18 962ms linear infinite;
            animation: boost18 962ms linear infinite;
  }
  @-webkit-keyframes boost18 {
    0% {
      transform: translateZ(-17px) translateY(-44px) translateX(-1px) rotateY(151deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(4px) rotateY(151deg);
      opacity: 0;
    }
  }
  @keyframes boost18 {
    0% {
      transform: translateZ(-17px) translateY(-44px) translateX(-1px) rotateY(151deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(4px) rotateY(151deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(19) {
    height: 41px;
    -webkit-animation: boost19 1924ms linear infinite;
            animation: boost19 1924ms linear infinite;
  }
  @-webkit-keyframes boost19 {
    0% {
      transform: translateZ(-17px) translateY(-54px) translateX(11px) rotateY(287deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-18px) translateY(-300px) translateX(36px) rotateY(287deg);
      opacity: 0;
    }
  }
  @keyframes boost19 {
    0% {
      transform: translateZ(-17px) translateY(-54px) translateX(11px) rotateY(287deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-18px) translateY(-300px) translateX(36px) rotateY(287deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(20) {
    height: 69px;
    -webkit-animation: boost20 1000ms linear infinite;
            animation: boost20 1000ms linear infinite;
  }
  @-webkit-keyframes boost20 {
    0% {
      transform: translateZ(-27px) translateY(-52px) translateX(10px) rotateY(149deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(-16px) rotateY(149deg);
      opacity: 0;
    }
  }
  @keyframes boost20 {
    0% {
      transform: translateZ(-27px) translateY(-52px) translateX(10px) rotateY(149deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(-16px) rotateY(149deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(21) {
    height: 57px;
    -webkit-animation: boost21 1736ms linear infinite;
            animation: boost21 1736ms linear infinite;
  }
  @-webkit-keyframes boost21 {
    0% {
      transform: translateZ(-20px) translateY(-41px) translateX(9px) rotateY(185deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-15px) translateY(-300px) translateX(27px) rotateY(185deg);
      opacity: 0;
    }
  }
  @keyframes boost21 {
    0% {
      transform: translateZ(-20px) translateY(-41px) translateX(9px) rotateY(185deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-15px) translateY(-300px) translateX(27px) rotateY(185deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(22) {
    height: 42px;
    -webkit-animation: boost22 725ms linear infinite;
            animation: boost22 725ms linear infinite;
  }
  @-webkit-keyframes boost22 {
    0% {
      transform: translateZ(-11px) translateY(-58px) translateX(3px) rotateY(287deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-10px) translateY(-300px) translateX(-27px) rotateY(287deg);
      opacity: 0;
    }
  }
  @keyframes boost22 {
    0% {
      transform: translateZ(-11px) translateY(-58px) translateX(3px) rotateY(287deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-10px) translateY(-300px) translateX(-27px) rotateY(287deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(23) {
    height: 78px;
    -webkit-animation: boost23 1394ms linear infinite;
            animation: boost23 1394ms linear infinite;
  }
  @-webkit-keyframes boost23 {
    0% {
      transform: translateZ(-28px) translateY(-53px) translateX(4px) rotateY(306deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(37px) rotateY(306deg);
      opacity: 0;
    }
  }
  @keyframes boost23 {
    0% {
      transform: translateZ(-28px) translateY(-53px) translateX(4px) rotateY(306deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(37px) rotateY(306deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(24) {
    height: 49px;
    -webkit-animation: boost24 957ms linear infinite;
            animation: boost24 957ms linear infinite;
  }
  @-webkit-keyframes boost24 {
    0% {
      transform: translateZ(-24px) translateY(-41px) translateX(14px) rotateY(204deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(-32px) rotateY(204deg);
      opacity: 0;
    }
  }
  @keyframes boost24 {
    0% {
      transform: translateZ(-24px) translateY(-41px) translateX(14px) rotateY(204deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-5px) translateY(-300px) translateX(-32px) rotateY(204deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(25) {
    height: 69px;
    -webkit-animation: boost25 587ms linear infinite;
            animation: boost25 587ms linear infinite;
  }
  @-webkit-keyframes boost25 {
    0% {
      transform: translateZ(-17px) translateY(-45px) translateX(-4px) rotateY(187deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-8px) translateY(-300px) translateX(-27px) rotateY(187deg);
      opacity: 0;
    }
  }
  @keyframes boost25 {
    0% {
      transform: translateZ(-17px) translateY(-45px) translateX(-4px) rotateY(187deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-8px) translateY(-300px) translateX(-27px) rotateY(187deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(26) {
    height: 45px;
    -webkit-animation: boost26 1201ms linear infinite;
            animation: boost26 1201ms linear infinite;
  }
  @-webkit-keyframes boost26 {
    0% {
      transform: translateZ(-21px) translateY(-45px) translateX(9px) rotateY(98deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-6px) translateY(-300px) translateX(-35px) rotateY(98deg);
      opacity: 0;
    }
  }
  @keyframes boost26 {
    0% {
      transform: translateZ(-21px) translateY(-45px) translateX(9px) rotateY(98deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-6px) translateY(-300px) translateX(-35px) rotateY(98deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(27) {
    height: 53px;
    -webkit-animation: boost27 1632ms linear infinite;
            animation: boost27 1632ms linear infinite;
  }
  @-webkit-keyframes boost27 {
    0% {
      transform: translateZ(-27px) translateY(-49px) translateX(-6px) rotateY(14deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-10px) translateY(-300px) translateX(-9px) rotateY(14deg);
      opacity: 0;
    }
  }
  @keyframes boost27 {
    0% {
      transform: translateZ(-27px) translateY(-49px) translateX(-6px) rotateY(14deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-10px) translateY(-300px) translateX(-9px) rotateY(14deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(28) {
    height: 50px;
    -webkit-animation: boost28 1462ms linear infinite;
            animation: boost28 1462ms linear infinite;
  }
  @-webkit-keyframes boost28 {
    0% {
      transform: translateZ(-14px) translateY(-47px) translateX(10px) rotateY(22deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-6px) translateY(-300px) translateX(-37px) rotateY(22deg);
      opacity: 0;
    }
  }
  @keyframes boost28 {
    0% {
      transform: translateZ(-14px) translateY(-47px) translateX(10px) rotateY(22deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-6px) translateY(-300px) translateX(-37px) rotateY(22deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(29) {
    height: 55px;
    -webkit-animation: boost29 559ms linear infinite;
            animation: boost29 559ms linear infinite;
  }
  @-webkit-keyframes boost29 {
    0% {
      transform: translateZ(-15px) translateY(-46px) translateX(-14px) rotateY(208deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-9px) translateY(-300px) translateX(39px) rotateY(208deg);
      opacity: 0;
    }
  }
  @keyframes boost29 {
    0% {
      transform: translateZ(-15px) translateY(-46px) translateX(-14px) rotateY(208deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-9px) translateY(-300px) translateX(39px) rotateY(208deg);
      opacity: 0;
    }
  }
  .awing .boost:nth-child(30) {
    height: 43px;
    -webkit-animation: boost30 1926ms linear infinite;
            animation: boost30 1926ms linear infinite;
  }
  @-webkit-keyframes boost30 {
    0% {
      transform: translateZ(-25px) translateY(-56px) translateX(-12px) rotateY(141deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-9px) translateY(-300px) translateX(1px) rotateY(141deg);
      opacity: 0;
    }
  }
  @keyframes boost30 {
    0% {
      transform: translateZ(-25px) translateY(-56px) translateX(-12px) rotateY(141deg);
      opacity: 0.6;
    }
    100% {
      transform: translateZ(-9px) translateY(-300px) translateX(1px) rotateY(141deg);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes barrelRoll {
    0% {
      transform: rotateY(0deg) rotateX(-15deg);
    }
    50% {
      transform: rotateY(375deg) rotateX(-15deg);
    }
    70% {
      transform: rotateY(355deg) rotateX(-15deg);
    }
    80% {
      transform: rotateY(360deg) rotateX(-15deg);
    }
    100% {
      transform: rotateY(360deg) rotateX(-15deg);
    }
  }
  @keyframes barrelRoll {
    0% {
      transform: rotateY(0deg) rotateX(-15deg);
    }
    50% {
      transform: rotateY(375deg) rotateX(-15deg);
    }
    70% {
      transform: rotateY(355deg) rotateX(-15deg);
    }
    80% {
      transform: rotateY(360deg) rotateX(-15deg);
    }
    100% {
      transform: rotateY(360deg) rotateX(-15deg);
    }
  }
  @-webkit-keyframes cameraRotate {
    0% {
      transform: scale(1.5) rotateX(70deg) rotateZ(20deg);
    }
    100% {
      transform: scale(1.5) rotateX(70deg) rotateZ(340deg);
    }
  }
  @keyframes cameraRotate {
    0% {
      transform: scale(1.5) rotateX(70deg) rotateZ(20deg);
    }
    100% {
      transform: scale(1.5) rotateX(70deg) rotateZ(340deg);
    }
  }
  @-webkit-keyframes slide {
    0% {
      left: 110%;
    }
    100% {
      left: -10%;
    }
  }
  @keyframes slide {
    0% {
      left: 110%;
    }
    100% {
      left: -10%;
    }
  }
  @-webkit-keyframes flyX {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(180px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-180px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes flyX {
    0% {
      transform: translateX(0px);
    }
    25% {
      transform: translateX(180px);
    }
    50% {
      transform: translateX(0px);
    }
    75% {
      transform: translateX(-180px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  @-webkit-keyframes flyY {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(200px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes flyY {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(200px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @-webkit-keyframes flyZ {
    0% {
      transform: translateZ(0px);
    }
    25% {
      transform: translateZ(150px);
    }
    50% {
      transform: translateZ(0px);
    }
    75% {
      transform: translateZ(-150px);
    }
    100% {
      transform: translateZ(0px);
    }
  }
  @keyframes flyZ {
    0% {
      transform: translateZ(0px);
    }
    25% {
      transform: translateZ(150px);
    }
    50% {
      transform: translateZ(0px);
    }
    75% {
      transform: translateZ(-150px);
    }
    100% {
      transform: translateZ(0px);
    }
  }
  @-webkit-keyframes freeBounce {
    0% {
      transform: translateZ(-10px);
    }
    100% {
      transform: translateZ(10px);
    }
  }
  @keyframes freeBounce {
    0% {
      transform: translateZ(-10px);
    }
    100% {
      transform: translateZ(10px);
    }
  }
  @-webkit-keyframes freeRotate {
    0% {
      transform: rotateY(-5deg);
    }
    100% {
      transform: rotateY(5deg);
    }
  }
  @keyframes freeRotate {
    0% {
      transform: rotateY(-5deg);
    }
    100% {
      transform: rotateY(5deg);
    }
  }